<nav id="navBar"> 
    <a id="links" href="/about">About Me</a>
    <a id="links" href="/hangman"> Hangman</a>
    <a id="links" href="/russian_roulette"> Russian Roulette</a>
    <a id="links" href="/clicker"> Clicker Counter</a>
    <a id="links" href="/short_stories">Short Stories</a>
    <a id="links" href="/wordlookup">Word lookup</a>    
</nav>