* {
  margin: 0;  
}


#header {
    background-color: #cbc7d4;
    height: 110px;
    text-align: center;
    padding-top: 30px;   
}


#title {
    font-size: 35px;
}


#links {
    text-decoration: none;
    text-align: center;
}


h4 {
    text-decoration: underline;
    font-family: cursive;
    color: #4f4990;
}


body {
    background-color: #f3f2ff;
}


#left {
    height: 640px;
    float: left;
    border: 1px solid #c1bcce;
    background-color: #cbc7d4;
    width: 200px;
    text-align: center;
}


#right {   
    height: 640px;
    float: right;
    border: 1px solid #c1bcce;
    background-color: #cbc7d4;  
    padding-left: 20px;
    padding-right: 20px; 
}


#footer {
    clear: both;
    position: relative;
    padding-top: 120px;  
    background-color: #cbc7d4;
    text-align: center;   
}