* {
  margin: 0;
  font-family: "Verduna"  
}


#header {
    background-image: url("siteResources/purple-matrix-wallpapers-backgrounds-for-powerpoint.jpg");
    background-color: #6B238E;
    height: 160px;
    text-align: center;
    color: white;
    float: top;
    box-shadow: 11px 9px 37px -8px rgba(0,0,0,0.75);   
}

#email {
    font-size: 18px;
    padding-top: -20px;
    color: white;
}

#title {
    font-size: 45px;
    font-family: "Arial";
    padding-top: 40px;
}


#links { 
    background-color: #6B238E;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    padding: 4px;
    font-family: "Arial";
    box-shadow: 11px 9px 37px -8px rgba(0,0,0,0.75);
}

#navBar {
    text-align: center;
    color: #6B238E;
    font-size: 20px;
    padding: 5px;
}

#body {
    text-align: justify;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 20px;
}

p {
    padding-top: 20px;
}

h4 {
    text-decoration: underline;
    font-family: cursive;
    color: #4f4990;
}


body {
    background-image: url("siteResources/ecailles_@2X.png");
    background-color: "#f3f2ff";
}

#footer {
    position: relative;
    text-align: center;
    text-decoration: none;      
}