<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css"/>
    {{!-- <link rel="icon" href="siteResources/Fishy.png"> --}}
    <title>Fishy Ninja</title>

    <script type="text/javascript" src="/js/jquery2.min.js"></script>

</head>
<body>
    <div id="header">
        <h1 class="pageHeader" id="title">About Me </h1>
        <a id="email" href="mailto:sam@fishy.ninja">sam@fishy.ninja</a>     
    </div> 
    <nav id="navBar"> 
        <a id="links" href="/">About Me</a>
        <a id="links" href="/hangman"> Hangman</a>
        <a id="links" href="/russian_roulette"> Russian Roulette</a>
        <a id="links" href="/clicker"> Clicker Counter</a>
        <a id="links" href="/short_stories">Short Stories</a>
        <a id="links" href="/wordlookup">Word lookup</a>    
    </nav>

    {{!-- {{partials.navBar}} --}}

    {{{body}}}
 
</body>
</html>