<html>
  <head>
    <link rel="icon" href="siteResources/Fishy.png">
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type='text/javascript'>
      var i = -1;
      $(function(){
        $('#psst').click(changeText);
        $('#psst').click(countClick);
        $('#takeItBack').click(stepBack);
        $('#counting').html(i.toString());
        setWai();
      });
      function changeText(){
        $('#thing').html('Wooh!');
      }
      function countClick(){
        $('#counting').html((++i).toString());
        setWai();
      }
      function setWai(){
        if (i % 2 == 0){
          $('#wai').html('even');
        } else {
          $('#wai').html('odd');
        }
      }
      function stepBack(){
        $('#counting').html((--i).toString());
        setWai();
      }
    </script>
  </head>
  <body>
    <div id="header">
      <h1 id="title">Clicker</h1>
      <a id="email" href="mailto:sam@fishy.ninja">sam@fishy.ninja</a>
    </div>
    <div id="navBar">
      <a id="links" href="/about">About Me</a>
      <a id="links" href="hangman.html"> Hangman</a>
      <a id="links" href="russian_roulette.html"> Russian Roulette</a>
      <a id="links" href="/clicker"> Clicker Counter</a>
      <a id="links" href="short_stories.html">Short Stories</a>
      <a id="links" href="wordlookup.html">Word lookup</a>
    </div>	
    <div  id="thing">hi</div>
    <a id="psst" href="#">Up</a>
    <div id="counting"></div>
    <div id="wai"></div>
    <a id="takeItBack" href="#">Down</a>

  </body>
</html>