<html>
  <head>
    
  <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  <link rel="icon" href="siteResources/Fishy.png">
  <title>Hangman!</title>

  <script type="text/javascript" src="jquery2.min.js"></script>
  <script type="text/javascript" src="newrelicSnippet.js"></script>
  <script type='text/javascript'>
  $(document).ready(function() {
    $(".hangmanHide").hide();
    $(".hintButton").hide();
    $(".hint").hide();
  });
  var choice;
  
  randomWord(1);
  function randomWord(x) {      
    var requestStr = 'https://wordsapiv1.p.mashape.com/words/?letterPattern=^[a-zA-Z]*$&random=true'
    $.ajax({
      type: "GET",
      url: requestStr,
      beforeSend: function(request){
						request.setRequestHeader("X-Mashape-Key", "qnCxRAw0KVmshacikY5O3PbQYsxpp15DIuqjsnzG5JAiD2iYcl");
						request.setRequestHeader("Accept", "application/json");
					},
      dataType: "JSON",
      statusCode: {
        404:function(){
            console.log('Random word generation failed.');
        } 
      },
      success: function(data){
        if ((data.hasOwnProperty('results')) || (x >= 3)){
          randomWordComplete(data);
          createHint(data);
        } else {
          ++x
          randomWord(x)
        };
      }
    })
  };
  function randomWordComplete(data) {                
        rawData = data["word"];
        choice = rawData.toLowerCase();
        $(function(){
          viewLetters();
          hideHangMan();
          findLength();
          
          $('.clickableLetter').click(findLetter)
          $('.clickableLetter').click(loserWin)
          $('.clickableLetter').click(showHint)
        });
  };  
  
  var letters = 'abcdefghijklmnopqrstuvwxyz'
  var wrongLetterArray = new Array();
  var Word;
  var l = 0;
  var w = 0;
  var guessesLeft = 7;
  var playerChoice;
  function hideHangMan(){
    for (var hang = 1; hang < 8; ++hang){
      $("#"+hang.toString()).hide('')
    }
  };
  function findLength(){
    
      for (var i = 0; i < choice.length; ++i){
        var thisLetter = choice[i]
        var realWord = $("<span></span>")
        .addClass(thisLetter).append("_ ")
        $('#underscore').append(realWord)
    }
  };
  function viewLetters(){
    for (var letterIteration = 0; letterIteration < letters.length; ++letterIteration){
      currentLetter = letters[letterIteration];
      $('#displayLetters').append($('<a href="#"></a>').addClass(currentLetter).addClass('clickableLetter').append(currentLetter + ' '))
    }
  };
  function findLetter(){
    var letterClicked = $(this).text().trim()
    $(this).hide('')
    var poss = choice.match(letterClicked);  
    wrongLetterArray[l] = " " + letterClicked.toUpperCase();
      
    
    
    if (poss){ 
      
      $("#underscore ."+letterClicked).html(letterClicked)
      $("#guesses").html('Total guesses = '+((++w) + l).toString())
      return true;
    }
    else{
      
      $('#allBadGuesses').html("Wrong Guesses = "+wrongLetterArray)
      $('#lastGuesses').html('Last guess = '+letterClicked.toString())
      $("#guesses").html("Total guesses = "+((++l) + w).toString())
      $('#'+l.toString()).show()
      $('#'+(l-1).toString()).hide()
      $("#guesses2").html('Guesses Left = '+(--guessesLeft))
    }
  };
  function loserWin(){
    if (l === 7){
      endGameState()
      $('#underscore').html(choice)
      setTimeout(function(){
        playerChoice = confirm("You lost :( Would you like to play again?");
        playAgain();
      }, 1000); 
    } 
    else if (choice === $("#underscore").text()){
      endGameState()
      setTimeout(function(){
        playerChoice = confirm("You won! Would you like to play again?");
        playAgain();
      }, 1000); 
    }
  };
  function createHint(data){
    if (data.hasOwnProperty('results')) {
      hintText = data['results'][0]['definition'];
      $('.hint').text('Your hint is: ' + hintText);
    } else {
      $('.hint').text("Sorry there is no hint available for this word.");
    }
    
  }
  function showHint(){
    if ( guessesLeft <= 2){
      $(".hintButton").show();
    }
  };
  var playAgain = (function(){
    if (playerChoice === true){
      window.location.reload()
    };
  });
  
  function endGameState(){
    $(".clickableLetter").hide();
    $(".hangmanHide").hide();
    $('#0').hide();
    $(".hint").show();
  }
  function reset(){
    playerChoice = confirm("Would you like to start a new game?");
    playAgain();
    $(".clickableLetter").show();
  };
  function hint(){
    $(".hint").show();
  };
  
  </script>



  </head>
<body>

  <div id="header">
        <h1 id="title">Hangman</h1>
    <a id="email" href="mailto:sam@fishy.ninja">sam@fishy.ninja</a>
        
  </div>     
    
  <div id="navBar"> 
    <a id="links" href="home.html">About Me</a>
    <a id="links" href="hangman.html"> Hangman</a>
    <a id="links" href="russian_roulette.html"> Russian Roulette</a>
    <a id="links" href="clicker.html"> Clicker Counter</a>
    <a id="links" href="short_stories.html">Short Stories</a>
    <a id="links" href="wordlookup.html">Word lookup</a>    
  </div>
   <div id='lettersClick'></div>
   <div id='displayLetters'></div>
   
  <pre id= '0'>
     =O==========+    
                ||    
                ||    
                ||    
                ||    
                ||    
                ||    
                ||    
                ||    
  ================] </pre>
  <pre id= '1' class= "hangmanHide">
     =O==========+    
      |         ||    
                ||    
                ||    
                ||    
                ||    
                ||    
                ||    
                ||    
  ================] </pre>
  <pre id= '2' class= "hangmanHide">
     =O==========+    
      |         ||    
      |         ||    
                ||    
                ||    
                ||    
                ||    
                ||    
                ||    
  ================] </pre>
  <pre id= '3' class= "hangmanHide">
     =O==========+    
      |         ||    
      |         ||    
      |         ||    
                ||    
                ||    
                ||    
                ||    
                ||    
  ================] </pre>
  <pre id= '4' class= "hangmanHide">
     =O==========+    
      |         ||    
      |         ||    
      |         ||    
     (_)        ||    
                ||    
                ||    
                ||    
                ||    
  ================] </pre>
  <pre id= '5' class= "hangmanHide">
     =O==========+    
      |         ||    
      |         ||    
      |         ||    
     (_)        ||    
     /T\        ||    
                ||    
                ||    
                ||    
  ================] </pre>
  <pre id= '6' class= "hangmanHide">
     =O==========+    
      |         ||    
      |         ||    
      |         ||    
     (_)        ||    
     /T\        ||    
      M         ||    
                ||    
                ||    
  ================] </pre>
  <pre id= '7' class= "hangmanHide">
     =O==========+    
      |         ||    
      |         ||    
      |         ||    
     (_)        ||    
     /T\        ||    
      M         ||    
     J L        ||    
                ||    
  ================]</pre>
  <div id='underscore'></div>
  <div id="newGame">
    <button type="reset" id="newGameHint" onclick="reset();">New Game</button>
    <button type="hint" id="newGameHint" class="hintButton" onclick="hint();">Show Hint</button>
    <p class='hint'></p>
  </div>
  <div id="box">
    <div class="box" id='guesses'></div>
    <div class="box" id='guesses2'></div>
    <div class="box" id="lastGuesses"></div>
    <div class="box" id='allBadGuesses'></div>
  </div>
  
</body>
</html>