<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="siteResources/Fishy.png">
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Fishy Ninja</title>
	</head>
	
	<body>
    <script type="text/javascript">
      $( "h1.pageHeader" ).text("About Me")
    </script>	    

	  <div id="body">
			<br/>
			<h2>About Me</h2>
	    	<p>I am a software developer in Portland, focusing on improving user’s experience with support and communication. I use mostly JavaScript, with a dash of Node, Ruby, or Python as needed. I am an avid gamer, my top three games right now are Overwatch, Final Fantasy 14, and D&D 5e. I create my own custom D&D campaigns, 3d print miniatures and paint them. I also love keeping my 120 gallon fully planted fish tank. </p>
		</div>
    <div id="footer">
      <!--Update contact info when ready-->
        
    </div>
	</body>
</html>